/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: url('result.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto; /* Added padding for better mobile view */
    box-sizing: border-box;
}

.container {

    background: rgba(255, 255, 255, 0.1); /* Slightly transparent background for blur effect */
    display: block;
    padding: 20px;
    border-radius: 20px; /* Changed shape */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px; /* Adjusted maximum width */
    align-items:normal; /* Center align items horizontally */
    animation: fadeIn 1s ease-in-out;
    box-sizing: border-box;
    backdrop-filter: blur(5px); /* Apply blur effect */
}

h1 {
    color: aqua;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px black; /* Text border */
}

label {
    color: lawngreen;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black; /* Text border */
    transition: color 0.3s ease;
}

label:hover {
    color: yellow; /* Hover effect */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Changed shape */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
    box-sizing: border-box;
}

input:focus {
    border: 1px solid #007bff;
}

button {
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    background: #00fbff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    /*Changedshape*/cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

button:hover {
    background: #00b380;
    transform: scale(1.05);
}

/* Keyframes for Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        max-width: calc(100% - 40px); /* Adjusted maximum width */
    }
}

@media (max-width: 992px) {
    .container {
        max-width: calc(100% - 40px); /* Adjusted maximum width */
    }
}

@media (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px); /* Adjusted maximum width */
    }
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    input, button {
        padding: 8px; /* Slightly reduced padding for better fit on small screens */
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}
